
# ifdef VENDOR_EDIT 
# yixue.ge add for config oppo software devinfo soft
      config OPPO_DEVICE_IFNO
      bool "config oppo devinfo software"
	  help
		define this config to compile devinfo.c for device register
#endif /* VENDOR_EDIT */

